.tela_statics{
    @include tela_all;
    flex-direction: row;
    // align-content: center;
    justify-content: space-around;
}

.container_produtos{
    @include style_itens(62.94%,96.57%);
    justify-content: space-between;
    padding-bottom: 1.6%;
}

.grid_titulo{
    height: 10.4%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo_produtos{
    @include titulo;
}

.pesquisa_produtos{
    width: 100%;
    height: 1.75rem;
    border-radius: 20px;

    font-weight: $light;
    background-color: $cor-fundo-claro;
}

.hover_produtos{
    @include style_itens(100%,85.05%);
    border-radius: 0;
    padding: 0;
    flex-direction: row;
    display: flex;
    gap: 1.25rem;
    overflow-x:scroll;
}
.hover_produtos::-webkit-scrollbar{
    height: 0.5rem;
    border-radius: 10px;
}
.hover_produtos::-webkit-scrollbar-thumb{
    background-color:$cor-primaria;
    border-radius: 10px;
}

.produto{
    @include style_itens(0%,100%);
    background-color: $cor-fundo-claro;
    padding: 0;
    min-width: 25%;
    align-items: center;
    justify-content: space-around;
    
    img{
        height: 180px;
        
        width: 160px;
        border-radius: 20px;
    }
}

.produto_conteudo{
    @include titulo;
    background-color: $cor-de-fundo;
    width: 75%;
    padding: 0 1.5rem 0 1.5rem;
    // Tipo{
    //     background-color: $cor-de-fundo;
    //     padding: none;
    //     font-size: 16px; /* Ajuste o tamanho da fonte conforme necessário */
    //     background-color: $cor-fundo-claro;
    //     padding: 5px 10px; /* Ajuste o espaçamento do texto conforme necessário */
    // }   
}

// .test{
    
// }

.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.produto_btn_alterar{
    @include btn(#80ed99);
}

.produto_btn_excluir{
    @include btn(#e63946);
}

.container_statics{
    display: flex;
    flex-direction: column;
    height: 96.57%;
    width: 29.94%;
    justify-content: space-between;
}

.null{
    @include style_itens(100%, 48.37%);
}
