.tela_statics{
    @include tela_all;
    flex-direction: row;
    // align-content: center;
    justify-content: space-around;
}

.container_produtos{
    @include style_itens(62.94%,96.57%);
    justify-content: space-evenly;
}

.titulo_produtos{
    @include titulo;
}

.pesquisa_produtos{
    width: 100%;
    height: 4.3%;
    border-radius: 20px;

    font-weight: $light;
    background-color: $cor-fundo-claro;
}

.hover_produtos{
    @include style_itens(100%,83.65%);
    background-color: $cor-fundo-claro;
    padding: 0;
    flex-direction: row;
}

.container_statics{
    display: flex;
    flex-direction: column;
    height: 96.57%;
    width: 29.94%;
    justify-content: space-between;
}
.null{
    @include style_itens(100%, 48.37%);
}
