@import "../abstract/variaveis";


.tela_user{
    @include tela_all;
    display: flex;
    flex-direction: row;
}

.name{
    font-weight: 800;
    margin:0 0 0 1.5rem;
    color: #FFFFFF;
    align-self: flex-start;
}

.conteiner_show_principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

// .container_clientes{
//     display: flex;
//     flex-direction: row;
// }

.chat_avisos{
    @include style_itens(42%, 60%);
}

.rotina{
    @include style_itens(42%, 60%);
}

.clientes{
    @include style_itens(95%, 32%);
}

// .conteiner_show_segundo{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

.container_dados{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    padding: 3rem 0 7.75rem 0;
    // margin: 20xp 0 20px 0;
    border-radius: 20px 0 0 20px ;
    background-color: $cor-das-tabelas;
    transition: .5s;
    justify-content: flex-start;
    align-items: center;
}

.container_dados.expandir{
    width: 500px;
    transition: .5s
}

.container_dados p{
    color: white;
}


.foto_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    // margin: 10px;
    
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: #141519;
    border-radius: 75px;

}

.foto_perfil .img{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 70%;
}

.botao_push{
    height: 100%;
    width: 90%;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
    
}

.botao_push > img{
    font-size: 40px;
    cursor: pointer;
}