@import "../abstract/variaveis";


.tela_user{
    @include tela_all;
    display: flex;
    flex-direction: row;
}

.name{
    font-weight: 800;
    margin:0 0 0 1.5rem;
    color: #FFFFFF;
    align-self: flex-start;
}

.conteiner_show_principal{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

// .container_clientes{
//     display: flex;
//     flex-direction: row;
// }

.chat_avisos{
    @include style_itens(42%, 60%);
}

.contatos{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    justify-content: space-around;
}

.contato1{
    display: flex;
    flex-direction: column;
    width: 19%;
    height: 100%;
    border-radius: 20px;
    background-color: #26282F;
    
}

.contato1 p{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3px;
    color: white;
}


.conversa{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    height: 85%;
    margin-top: 20px;
    
}

.conversa p{
    color: white;
}

.chat_esc{
    display: flex;
    align-self: start;
    align-items: center;
    background-color: #26282F;
    border-radius: 20px 20px 20px 0;
    width: auto;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat_dir{
    display: flex;
    align-self: flex-end;
    align-items: center;
    background-color: #26282F;
    border-radius: 20px 20px 0 20px;
    width: auto;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}


.txt{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-between;
}

.txt .msg{
    display: flex;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    background-color:  #26282F;

    padding-left: 10px;

}

.txt .enviar{
    display: flex;
    width: 50px;
    height: 100%;
    border-radius: 25px;
    background-color:  #26282F;
    color: #FFFFFF;

}

.txt > img{
    font-size: larger; 
}

.rotina{
    @include style_itens(42%, 60%);
}

.atividade{
    display: flex;
    width: 100%;
    height: 40px; 
}

.atividade > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
    border-radius: 20px;
    background-color:  #26282F;
    color: #FFFFFF;
}

.atividade_show{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    height: 90%;
}

.atividade_show > .tasks_show{
    color: #FFFFFF;
}
.clientes{
    @include style_itens(95%, 32%);
}

.select_clientes{
    display: flex;
    width: 100%;
    height: 40px;
    align-items: flex-start;
    justify-content: space-around;
}

.select_clientes > button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-radius: 20px;
    background-color:  #26282F;
    color: #FFFFFF;
}

.client_indv{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 100%;
    height: 90%;

}

.client_indv > .client{
    display: flex;
    width: 100%;
    height: 25%;
    border-radius: 20px;
    background-color:  #26282F;
    color: white;

    justify-content: center;
    align-items: center

}

// .conteiner_show_segundo{
//     width: 100%;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
// }

.container_dados{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    padding: 3rem 0 7.75rem 0;
    // margin: 20xp 0 20px 0;
    border-radius: 20px 0 0 20px ;
    background-color: $cor-das-tabelas;
    transition: .5s;
    justify-content: flex-start;
    align-items: center;
}

.expandir{
    width: 500px;
    transition: .5s
}

.container_dados p{
    color: white;
}


.foto_perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    // margin: 10px;
    
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    background-color: #141519;
    border-radius: 75px;

}

.foto_perfil .img{
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 70%;
    
}

.botao_push{
    height: 100%;
    width: 90%;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.botao_push > img{
    font-size: 40px;
    cursor: pointer;
}