$cor-primaria: #4A62BD;
$cor-de-fundo: #17181C;
$cor-das-tabelas:  #111215;
$cor-fundo-claro:   #1B1E27;
$padding-das-telas:1.18%  1.18% 0.79% 1.18%;
$semi-bold: 800;
$light:300;

@mixin tela_all(){
    height:100vh;
    width: 100vw;
    padding: 1.25rem 0 1.25rem 0;

    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}

@mixin style_itens($largura,$altura){
    border-radius: 20px;
    height: $altura;
    width: $largura;
    padding: $padding-das-telas;
    background-color: $cor-das-tabelas;

    display: flex;
    flex-direction: column;
}

@mixin titulo{
    height: 1.75rem;
    width: 7.5rem;
    border-radius: 20px;

    color: #FFFFFF;
    background-color: #1B1E27;
    
    font-weight: $semi-bold;

    display: flex;
    align-items: center;
    justify-content: center;
}