@import "../styles/abstract/_home.scss";
@import "../styles/abstract/_navbar.scss";
@import "../styles/abstract/variaveis";

.container{
    height: 100vh;
    display: flex;
    background-color: $cor-de-fundo;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    a{
        text-decoration: none;
    }
    
}  

@mixin cor-e-texto($cor-fundo, $cor-letras){
    width: 50%;
    background-color: $cor-fundo;
    .texto{
        margin-top:40%;
        text-align: center;
        font-size: 10vmax;
        color: $cor-letras;
        text-decoration: none;
        justify-content: center;      
    }

}

.esquerdo{
    @include cor-e-texto($cor-de-fundo,$cor-primaria);
}
.direito{
    @include cor-e-texto($cor-das-tabelas,$cor-primaria);
}