@import "../styles/abstract/_home.scss";
@import "../styles/abstract/_navbar.scss";
@import "../styles/abstract/variaveis";
@import "../styles/abstract/user";
@import "../styles/abstract/statics";

.container{
    height: 100vh;
    display: flex;
    background-color: $cor-de-fundo;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    a{
        text-decoration: none;
    }
    
}