.tela_home {
  height: 100vh;
  width: 100vw;
  padding: 1.25rem 0 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-weight: 800;
  margin: 0 0 0 1.5rem;
  color: #FFFFFF;
  align-self: flex-start;
}

.tasks {
  height: 36.13%;
  width: 95.66%;
  border-radius: 20px;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner_tasks_btn {
  width: 16rem;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: space-between;
}

.tasks_btn {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_tasks_show {
  height: 83%;
  width: 100%;
  color: #FFFFFF;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tasks_show {
  height: 14.62%;
  width: 100%;
  border-radius: 20px;
  background-color: #1B1E27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_2 {
  height: 48.36%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.calendario {
  border-radius: 20px;
  width: 46.2%; /*46.31*/
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}

.calendario_btn {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_calendario {
  height: 88%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  overflow-x: scroll;
  gap: 10px;
}

.inner_calendario::-webkit-scrollbar {
  height: 5px;
  border-radius: 10px;
}

.inner_calendario::-webkit-scrollbar-thumb {
  background-color: #4A62BD;
  border-radius: 10px;
}

.calendario_show {
  min-width: 21.36%;
  border-radius: 20px;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  background-color: #1B1E27;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
}

.estoque {
  border-radius: 20px;
  width: 46.2%; /*46.31*/
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.estoque_btn {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner_estoque {
  height: 88%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.estoque_show {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23.2%;
  height: 12.2%;
  font-weight: 600;
}

.nav {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 4.5%;
  padding: 3rem 0 7.75rem 0;
  border-radius: 0 20px 20px 0;
  background-color: #111215;
  justify-content: space-between;
  align-items: center;
}
.nav .logo {
  width: 50px;
  justify-content: center;
}
.nav .btn_no_select {
  height: 93%;
  width: 97%;
  align-items: center;
  opacity: 0.5;
}
.nav .btn_select {
  height: 93%;
  width: 97%;
  align-items: center;
}

.tela_user {
  height: 100vh;
  width: 100vw;
  padding: 1.25rem 0 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.name {
  font-weight: 800;
  margin: 0 0 0 1.5rem;
  color: #FFFFFF;
  align-self: flex-start;
}

.conteiner_show_principal {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.chat_avisos {
  border-radius: 20px;
  height: 60%;
  width: 42%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
}

.contatos {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 30px;
  justify-content: space-around;
}

.contato1 {
  display: flex;
  flex-direction: column;
  width: 19%;
  height: 100%;
  border-radius: 20px;
  background-color: #26282F;
}

.contato1 p {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3px;
  color: white;
}

.conversa {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 85%;
  margin-top: 20px;
}

.conversa p {
  color: white;
}

.chat_esc {
  display: flex;
  align-self: start;
  align-items: center;
  background-color: #26282F;
  border-radius: 20px 20px 20px 0;
  width: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat_dir {
  display: flex;
  align-self: flex-end;
  align-items: center;
  background-color: #26282F;
  border-radius: 20px 20px 0 20px;
  width: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.txt {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.txt .msg {
  display: flex;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  background-color: #26282F;
  padding-left: 10px;
}

.txt .enviar {
  display: flex;
  width: 50px;
  height: 100%;
  border-radius: 25px;
  background-color: #26282F;
  color: #FFFFFF;
}

.txt > img {
  font-size: larger;
}

.rotina {
  border-radius: 20px;
  height: 60%;
  width: 42%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
}

.atividade {
  display: flex;
  width: 100%;
  height: 40px;
}

.atividade > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  border-radius: 20px;
  background-color: #26282F;
  color: #FFFFFF;
}

.atividade_show {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
  height: 90%;
}

.atividade_show > .tasks_show {
  color: #FFFFFF;
}

.clientes {
  border-radius: 20px;
  height: 32%;
  width: 95%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
}

.select_clientes {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: flex-start;
  justify-content: space-around;
}

.select_clientes > button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
  border-radius: 20px;
  background-color: #26282F;
  color: #FFFFFF;
}

.client_indv {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
  height: 90%;
}

.client_indv > .client {
  display: flex;
  width: 100%;
  height: 25%;
  border-radius: 20px;
  background-color: #26282F;
  color: white;
  justify-content: center;
  align-items: center;
}

.container_dados {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 200px;
  padding: 3rem 0 7.75rem 0;
  border-radius: 20px 0 0 20px;
  background-color: #111215;
  transition: 0.5s;
  justify-content: flex-start;
  align-items: center;
}

.expandir {
  width: 500px;
  transition: 0.5s;
}

.container_dados p {
  color: white;
}

.foto_perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  background-color: #141519;
  border-radius: 75px;
}

.foto_perfil .img {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 70%;
}

.botao_push {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.botao_push > img {
  font-size: 40px;
  cursor: pointer;
}

.tela_statics {
  height: 100vh;
  width: 100vw;
  padding: 1.25rem 0 1.25rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  justify-content: space-around;
}

.container_produtos {
  border-radius: 20px;
  height: 96.57%;
  width: 62.94%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 1.6%;
}

.grid_titulo {
  height: 10.4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.titulo_produtos {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pesquisa_produtos {
  width: 100%;
  height: 1.75rem;
  border-radius: 20px;
  font-weight: 300;
  background-color: #1B1E27;
}

.hover_produtos {
  border-radius: 20px;
  height: 85.05%;
  width: 100%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  border-radius: 0;
  padding: 0;
  flex-direction: row;
  display: flex;
  gap: 1.25rem;
  overflow-x: scroll;
}

.hover_produtos::-webkit-scrollbar {
  height: 0.5rem;
  border-radius: 10px;
}

.hover_produtos::-webkit-scrollbar-thumb {
  background-color: #4A62BD;
  border-radius: 10px;
}

.produto {
  border-radius: 20px;
  height: 100%;
  width: 0%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
  background-color: #1B1E27;
  padding: 0;
  min-width: 25%;
  align-items: center;
  justify-content: space-around;
}
.produto img {
  height: 180px;
  width: 160px;
  border-radius: 20px;
}

.produto_conteudo {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #17181C;
  width: 75%;
  padding: 0 1.5rem 0 1.5rem;
}

.btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.produto_btn_alterar {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #80ed99;
  width: 40%;
  padding: 0 0.75rem 0 0.75rem;
  font-weight: 600;
}

.produto_btn_excluir {
  height: 1.75rem;
  width: 7.5rem;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #1B1E27;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e63946;
  width: 40%;
  padding: 0 0.75rem 0 0.75rem;
  font-weight: 600;
}

.container_statics {
  display: flex;
  flex-direction: column;
  height: 96.57%;
  width: 29.94%;
  justify-content: space-between;
}

.null {
  border-radius: 20px;
  height: 48.37%;
  width: 100%;
  padding: 1.18% 1.18% 0.79% 1.18%;
  background-color: #111215;
  display: flex;
  flex-direction: column;
}

.container {
  height: 100vh;
  display: flex;
  background-color: #17181C;
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
* a {
  text-decoration: none;
}/*# sourceMappingURL=styles.css.map */